<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\ScheduledEmail\Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] %message%newline" />
      </layout>
    </appender>

    <appender name="RollingErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\ScheduledEmail\Errorlog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <!--<appender-ref ref="RollingErrorFileAppender" />-->
    </root>
  </log4net>
</configuration>

<!--***************NOTES************
LEVEL:  FATAL
        ERROR
        WARN
        INFO
        DEBUG

ADD TO APP.CONFIG FILE:
 <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
-->
